.margenSup {
  margin-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form input,
.form button {
  margin-bottom: 10px;
  padding: 8px;
}

.cardRepuestos {
  width: 450px;
}

.formGroup {
  margin-bottom: 15px;
}

.footerOk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  flex: 1;
  width: 50%;
  text-align: left;
}

.rightContent {
  text-align: right;
}
